<div class="flex flex-col gap-1">
    <label for="customer-status">{{'customer.status.label'|translate}}</label>
    <p-multiselect inputId="customer-status" [(ngModel)]="value" appendTo="body" [options]="options"
        class="w-full min-w-0">
        <ng-template #selecteditems let-items>
            <div class="flex gap-1">
                @for(item of items; track item) {
                <app-customer-status [status]="item" />
                }
            </div>
        </ng-template>
        <ng-template #item let-value>
            <app-customer-status [status]="value" />
        </ng-template>
    </p-multiselect>
</div>