@let customers = customerStore.customers.value();
<app-list-search [query]="customerStore.filter.query()" (queryChange)="customerStore.search({query: $event})" />
<app-table [sortField]="customerStore.filter.sortField()" [sortOrder]="customerStore.filter.sortOrder()"
    class="w-full h-full overflow-auto" (lazyLoad)="onLazyLoad($event)" [rowsPerPage]="20"
    [totalRows]="customers?.total ?? 0" [items]="customers?.items ?? []" [config]="customerTableConfig()"
    [disabled]="customerStore.isLoading()">
    <ng-template #column let-column>
        {{column.label | translate | titlecase }}
    </ng-template>
    <ng-template #filter let-column let-fcb="filterCallback">
        @switch(column.key) {
        @case ('status') {
        <app-customer-status-filter (valueChange)="fcb($event,column.field)" />
        }
        }
    </ng-template>
    <ng-template #cell let-row let-column="column">
        @switch(column.key) {
        @case ('status') {
        <app-customer-status [status]="row.status" />
        }
        @case ('files') {
        <div class="flex flex-col">
            @for(file of row.files;track file) {
            <a
                [href]="`https://www.maklerinfo.biz/service/bd/employee/1.0/rest/00GKFG_RZB6QA/archiveintraege/${file}.png`">{{file}}</a>
            }
        </div>
        }
        @case ('actions') {
        <div class="flex w-full justify-end gap-1">
            <p-button size="small" [text]="true" (onClick)="onRowClick({row})" icon="pi pi-chevron-right" />
        </div>
        }
        @default {
        {{row[column.key]}}
        }
        }
    </ng-template>
</app-table>