@for(item of items(); track item.key) {
<ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item }" />
}


<ng-template #itemTemplate let-item let-expanded="expanded">
    @let isExpanded = item.data.class?.includes('expanded');
    <a #ref
        [class]="`flex w-full justify-between items-center p-4 gap-2 dark:text-gray-300 relative ${item.styleClass ?? ''}`"
        (click)="item.children?.length && menuState() ==='minimal'? toggle($event,item) : null"
        [routerLink]="!item.children?.length ? item.data.routerLink:undefined" [queryParams]="item.data.queryParams"
        routerLinkActive="bg-highlight" [routerLinkActiveOptions]="{ exact: false }">
        <div class="flex gap-2 w-full items-center">

            <i [pTooltip]="item.label|translate"
                [class]="`${item.icon} ${menuState() === 'expanded' || expanded?'':'text-3xl'}`"></i>
            @if(menuState() === 'expanded' || expanded === true) {
            <span>{{item.label|translate}}</span>
            }
        </div>
        @if(item.children?.length && (menuState() === 'expanded' || expanded)) {
        <p-button (onClick)="toggle($event,item)" size="small" [icon]="`pi pi-chevron-${isExpanded ? 'down':'up'}`"
            [text]="true" />
        }


        <div class="absolute right-0 w-[150px] top-0 left-[90%]" [class.hidden]="!isExpanded"
            (click)="$event.stopPropagation()">
            <div class=" flex w-full flex-col p-2 bg-white dark:bg-gray-900 shadow-lg rounded-xl">
                @for(child of item.children; track child.key) {
                <ng-container [ngTemplateOutlet]="itemTemplate"
                    [ngTemplateOutletContext]="{ $implicit: child, expanded: true }" />
                }
            </div>

        </div>
    </a>
    @if(item.children?.length) {
    @if((menuState()==='expanded' || expanded) && isExpanded) {
    <div class=" flex w-full flex-col pl-2">
        @for(child of item.children; track child.key) {
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: child }" />
        }
    </div>
    }
    }
</ng-template>