@if(item(); as item) {
<a [pTooltip]="item.label|translate" (click)="isSmall() && menuState()==='expanded'?onClick():null"
    [class]="`flex w-full justify-between items-center p-4 gap-2 dark:text-gray-300`" [routerLink]="item.routerLink"
    [queryParams]="item.queryParams" routerLinkActive="bg-highlight" [routerLinkActiveOptions]="{ exact: false }">
    <div class="flex gap-2 w-full items-center">

        <i [class]="`${item.icon} ${menuState() === 'expanded'?'':'text-3xl'}`"></i>
        @if(menuState() === 'expanded') {
        <span>{{item.label|translate}}</span>
        }
    </div>
    @if(item.items?.length && menuState() === 'expanded') {
    <p-button size="small" [icon]="`pi pi-chevron-up`" [text]="true" />
    }
</a>
@if(item.items?.length && menuState()==='expanded') {
@for(child of item.items; track child.routerLink) {
<a [pTooltip]="child.label|translate" (click)="isSmall() && menuState()==='expanded'?onClick():null"
    [class]="`flex w-full ${menuState() === 'expanded'?'justify-start':'justify-center'} items-center px-4 py-2 gap-2 ml-4 dark:text-gray-300`"
    [routerLink]="child.routerLink" [queryParams]="child.queryParams" routerLinkActive="bg-highlight"
    [routerLinkActiveOptions]="{ exact: false }">
    <i [class]="`${child.icon} ${menuState() === 'expanded'?'':'text-3xl'}`"></i>
    @if(menuState() === 'expanded') {
    <span>{{child.label|translate}}</span>
    }
</a>
}
}
}