<p-card>
    <div class="flex justify-center flex-col">
        <span class="text-lg font-semibold">Keine Datei ausgewählt</span>
        <span class="" style="max-width: 320px;">Wähle eine Datei aus dem
            Seitenmenü aus, oder erstelle eine neue!</span>
        <p-divider />
        <div class="flex justify-end">
            <p-button icon="pi pi-plus" (onClick)="onCreateFile()"
                [label]="'utils.create.value'|translate:{value:'label.file.label'|translate}" />
        </div>
    </div>
</p-card>