.enter-animation {
    animation: slide-fade-enter 1s;
}
.leave-animation {
    animation: slide-fade-leave 1s;
}

@keyframes slide-fade {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 300px;
        opacity: 1;
    }
}

@keyframes slide-fade-enter {
    from {
        max-height: 0;
        opacity: .5;
    }

    to {
        max-height: 300px;
        opacity: 1;
    }
}


@keyframes slide-fade-leave {
    from {
        max-height: 300px;
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: .5;
    }
}