@if(me(); as me) {
<div class="gap-2 p-2 flex min-w-[300px] flex-col">

    <div class="flex flex-col gap-2">
        <span class="text-muted font-semibold">{{'label.color'|translate}}</span>
        <p-message severity="info" icon="pi pi-info-circle">{{'color.info'|translate}}</p-message>
        <div class="flex-1 flex flex-col items-center">
            <label for="cp-hex" class="font-bold block mb-2"> HEX </label>
            <p-colorpicker appendTo="body" (onHide)="changeColor($event)" [(ngModel)]="color" inputId="cp-hex"
                class="mb-4" />
            <span>{{ color() }}</span>
        </div>
        <div class="flex w-full justify-end">
            <p-button icon="pi pi-times" (onClick)="changeColor(null)" [label]="'action.clear'|translate" [size]="'small'"
                [text]="true" severity="secondary" />
        </div>
    </div>
    <p-divider />
    <div class="flex flex-col gap-2">


        <span class="text-muted font-semibold">{{'auth.user.logo'|translate}}</span>
        @if(me.logo) {
        <div class="flex w-full justify-center">
            <img [src]="me.logo" alt="logo" class="w-[200px] object-contain" />
        </div>
        }
        @else {
        <p-message severity="info" icon="pi pi-info-circle">{{'label.file.info.empty'|translate}}</p-message>
        }
    </div>
    <div class="flex gap-2 w-full justify-end">
        @if(me.logo) {
        <p-button [label]="'action.clear'|translate" (onClick)="clear()" icon="pi pi-times" [text]="true" size="small"
            severity="danger" />
        }
        <p-fileupload #upload [pTooltip]="'label.import'|translate" [auto]="true" [multiple]="false" mode="basic"
            [uploadButtonProps]="{label:''}" [chooseButtonProps]="{label:'',size:'small',text: true}"
            chooseIcon="pi pi-upload" name="import[]" accept="" maxFileSize="1000000" (onSelect)="onImport($event)">
        </p-fileupload>
    </div>
</div>
}